---
import { Image } from "astro:assets";
import Projects from "../../data/projects.json";
---

{
    Projects.map((project, index) => (
        <div
            class="card-project mb-5"
            style={{ flexDirection: index % 2 === 0 ? "row" : "row-reverse" }}
        >
            <div class="img-project-container">
                <div class="img-wrapper">
                    <img
                        class="img-project"
                        class="img-fluid img-project"
                        src={project.urlImg}
                        decoding="async"
                        loading="lazy"
                        alt="Placeholder"
                    />
                    {project.inProgress && (
                        <span class="badge">En desarrollo</span>
                    )}
                </div>
                <div>
                    {project.icons.map((icon) => (
                        <a href={icon.url} target="_blank" class="project-icon">
                            <i class={icon.iconClass} />
                        </a>
                    ))}
                </div>
            </div>
            <div class="card-project-details">
                <h3 class="title-project">{project.title}</h3>
                <p class="description-project text-justify">
                    {project.description}
                </p>
                <div>
                    <h4>Tecnologías utilizadas</h4>
                    {project.technologies.map((tec) => (
                        <a href={tec.url} target="_blank">
                            <img
                                class="project-card-img-tec"
                                src={tec.urlImg}
                                decoding="async"
                                loading="lazy"
                            />
                        </a>
                    ))}
                </div>
            </div>
        </div>
    ))
}

<style>
    .card-project {
        background-color: white;
        border-radius: 2rem;
        box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        display: flex;
        gap: 2rem;
    }

    .card-project-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 0;
        gap: 1rem;
    }

    .img-project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img-project {
        width: 25rem;
        height: 15rem;
        box-shadow: 0 16px 16px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
    }

    .img-project:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .img-wrapper {
        position: relative;
        display: inline-block;
    }

    .badge {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: rgba(245, 0, 79, 0.7);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .title-project {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
    }

    .description-project {
        font-weight: 400;
        color: #6c757d;
    }

    .tec-project {
        font-size: 1.2rem;
        font-weight: 800;
        color: #f5004f;
    }

    .project-card-img-tec {
        width: 45px;
        height: 45px;
        margin: 5px;
    }

    .project-icon {
        font-size: 2.5rem;
        color: #343a40;
        text-decoration: none;
        margin-left: 10px;
    }

    .project-icon i {
        transition: color 0.3s ease;
    }

    .project-icon i:hover {
        color: #7c00fe;
    }

    @media (max-width: 1240px) {
        .card-project {
            flex-direction: column-reverse !important;
        }

        .img-project {
            width: 35rem;
            height: auto;
        }
    }

    @media (max-width: 1100px) {
        .img-project {
            width: 30rem;
        }
    }

    @media (max-width: 550px) {
        .img-project {
            width: 20rem;
        }

        .img-project-container {
            display: flex;
            justify-content: center;
        }
    }
</style>
